compas
jinja2 >= 3.0
numpydoc
pydata-sphinx-theme >=0.13, <0.14
pydocstyle
pytest
pytest-mock
sphinx
sphinx_book_theme
sphinx-copybutton
sphinx-design
sphinx-favicon
sphinx-inline-tabs
sphinx-remove-toctrees
sphinx-togglebutton
sphinxcontrib-bibtex
sphinxcontrib-youtube
